{% if cart.item_count > 0 %}
  <div class="border-y border-lines divide-y divide-lines divide-opacity-50">
    {% for item in cart.items %}
      <div class="flex gap-4 py-4 border-b">
        <img src="{{ item.image | img_url: '100x' }}" alt="{{ item.title }}" class="w-40 aspect-video object-cover flex-0">
        <div class="flex flex-col justify-between h-full">
          
          <h3>{{ item.title }}</h3>
          <p>{{ item.final_price | money }}</p>
          <p>Quantity: {{ item.quantity }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="cart-footer mt-4">
    <p class="total">Total: {{ cart.total_price | money }}</p>
    <a href="{{ routes.cart_url }}" class="button">Checkout</a>
  </div>
{% else %}
  <p>Your cart is empty</p>
{% endif %}
