<div class="collection-card relative group" {{ block.shopify_attributes }}>
  <a href="{{ collection.url }}" class="block space-y-4">
    <div class="aspect-square overflow-hidden">
      {% if collection.image %}
        {{ collection.image | image_url: width: 800 | image_tag:
          loading: 'lazy',
          class: 'w-full h-full object-cover transition-transform duration-300 group-hover:scale-105'
        }}
      {% else %}
        {{ 'collection-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-white' }}
      {% endif %}
    </div>

    <div class="text-center">
      <h3 class="text-xl text-center px-4">{{ collection.title }}</h3>
    </div>
  </a>

  {% if block.settings.show_description and collection.description != blank %}
    <div class="mt-4 text-sm">
      {{ collection.description | strip_html | truncatewords: 15 }}
    </div>
  {% endif %}
</div>