{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - paginate: {Object}

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical', paginate: paginate %}
{% endcomment %}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  assign default_presentation = 'text'
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div class="flex-1 flex flex-col">
  <form id="FacetFiltersFormMobile" class="flex-1 flex flex-col justify-between">
      <div
        id="FacetsWrapperMobile"
        class="divide-y my-16 font-sans"
      >
          {%- for filter in results.filters -%}
            {% liquid
              assign presentation = filter.presentation | default: default_presentation
              if presentation == 'image'
                assign visual_layout_class = '' | append: presentation
              else
                assign visual_layout_class = '' | append: presentation
              endif
            %}
            {% case filter.type %}
              {% when 'boolean', 'list' %}
                <div
                  id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                  class=""
                  x-data="{ open: false }"
                >
                  <button
                    class="py-2 flex w-full justify-between items-center uppercase"
                    @click="open = !open"
                    :aria-expanded="open"
                    type="button"
                  >
                    <span>{{ filter.label | escape }}</span>
                    <span
                      class="w-3 block transform transition-all duration-500" 
                      :class="{ 'rotate-180 opacity-100': open, 'opacity-50': !open }"
                    >
                      {{ 'icon-down-arrow.svg' | inline_asset_content }}
                    </span>
                  </button>
                  <ul 
                    class="{% if presentation == 'swatch' %}grid grid-cols-5 gap-2{% else %}space-y-2{% endif %} transition-all duration-500"
                    role="list"
                    x-show="open"
                    x-transition
                  >
                    {%- liquid
                      assign sorted_values = filter.values
                      # Keep the selected values grouped together when operator is AND
                      if filter.operator == 'AND'
                        assign active_filter_values = filter.values | where: 'active', true
                        assign inactive_filter_values = filter.values | where: 'active', false
                        assign sorted_values = active_filter_values | concat: inactive_filter_values
                      endif
                    -%}
                    {%- for value in sorted_values -%}
                      {% liquid
                        assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-mobile-' | append: forloop.index
                        assign is_disabled = false
                        if value.count == 0 and value.active == false
                          assign is_disabled = true
                        endif
                      %}
                      {%- capture text_value -%}
                        <span class="" aria-hidden="true">
                          <span class="">{{- value.label | escape }}</span>
                        </span>
                      {%- endcapture -%}

                      <li class="">
                        {% if presentation == 'swatch' %}
                          <div class="{{ label_class }} text-xs">
                            <div class="">
                              {% render 'swatch-input',
                                id: input_id,
                                type: 'checkbox',
                                name: value.param_name,
                                value: value.value,
                                product_form_id: 'FacetFiltersFormMobile',
                                swatch: value.swatch,
                                checked: value.active,
                                disabled: is_disabled
                                text_value: text_value
                              %}
                            </div>
                          </div>
                        {% else %}
                          <label for="{{ input_id }}" class="{{ label_class }}">
                            <input
                              class=""
                              type="checkbox"
                              name="{{ value.param_name }}"
                              value="{{ value.value }}"
                              id="{{ input_id }}"
                              {% if value.active %}
                                checked
                              {% endif %}
                              {% if is_disabled %}
                                disabled
                              {% endif %}
                            >
                            {{ text_value }} 
                          </label>
                        {% endif %}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
            {% endcase %}
          {%- endfor -%}
      </div>

      <div>

        {% if results.filters.size > 0 %}
          <a href="{{ results_url }}" class="text-sm disabled:opacity-30 filter-clear-all mb-4">
            <span>
              Reset
            </span>
          </a>
          <button type="submit" class="text-sm uppercase btn btn--primary disabled:opacity-30 block " {% if results.products_count == 0 %}disabled{% endif %}>
            View {{ results.products_count }} Products
          </button>
        {% endif %}
      </div>
  </form>
  <div class="">
    {%- for filter in results.filters -%}
      {%- for value in filter.active_values -%}
        <facet-remove>
          <a href="{{ value.url_to_remove }}" class="">
            <span class="">
              {{ filter.label | escape }}: {{ value.label | escape }}
              <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
            </span>
          </a>
        </facet-remove>
      {%- endfor -%}

      {%- if filter.type == 'price_range' -%}
        {% assign min = filter.min_value.value %}
        {% assign max = filter.max_value.value %}
        {%- if min != null or max != null -%}
          <facet-remove>
            <a href="{{ filter.url_to_remove }}" class="">
              <span class="">
                {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                <span class="sr-only">{{ 'products.facets.clear_filter' | t }}</span>
              </span>
            </a>
          </facet-remove>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {% comment %} <facet-remove class="active-facets__button-wrapper">
      <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
        <span>{{ 'products.facets.clear_all' | t }}</span>
      </a>
    </facet-remove> {% endcomment %}
  </div>
  <div
    class="mt-auto"
  >
    {% comment %} <h2 class="product-count__text text-body">
      <span id="ProductCount">
        {%- if results.results_count -%}
          {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
        {%- elsif results.products_count == results.all_products_count -%}
          {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
        {%- else -%}
          {{
            'products.facets.product_count'
            | t: product_count: results.products_count, count: results.all_products_count
          }}
        {%- endif -%}
      </span>
    </h2> {% endcomment %}
    {%- render 'loading-spinner' -%}
  </div>
</div>
