{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign custom_colors = settings.color_swatches | newline_to_br | split: '<br />'
        assign key_array = ''
        assign val_array = ''

        for color in custom_colors
          assign key = color | split: ':' | first | rstrip
          assign value = color | split: ':' | last | lstrip
          assign key_array = key_array | append: ',' | append: key
          assign val_array = val_array | append: ',' | append: value
        endfor

        assign key_array = key_array | remove_first: ',' | strip_newlines | downcase | split: ','
        assign val_array = val_array | remove_first: ',' | split: ','
      -%}
      <div class="w-full py-4">
        <span class="sr-only">{{ option.name }}</span>
        <div x-data="variantSelector">
          <div class="flex flex-wrap  justify-center gap-2 w-full">
            {%- for value in option.values -%}
              {%- liquid
                assign color_value = value | downcase | escape
                assign bg_value = ''

                for custom_color in key_array
                  if custom_color == color_value
                    assign color_value = val_array[forloop.index0]
                  endif
                endfor

                if color_value contains '.'
                  assign bg_value = color_value | file_url
                  assign color_value = 'var(--bg-body)'
                endif

                assign is_selected = false
                if option.selected_value == value
                  assign is_selected = true
                endif
              -%}
              <button
                type="button"
                class="w-6 h-6 border duration-500 border p-px {% if is_selected %}border-black{% else %}border-transparent hover:border-black/40{% endif %}"
                aria-label="{{ value | escape }}"
                aria-pressed="{% if is_selected %}true{% else %}false{% endif %}"
                @click="handleVariantChange('{{ section.id }}', '{{ value | escape }}')"
              >
                <span
                  class="block w-full h-full"
                  style="{% if bg_value != '' %}background-image: url({{ bg_value }}); background-size: cover; background-position: center;{% else %}background-color: {{ color_value }};{% endif %}"
                ></span>
              </button>
            {%- endfor -%}
          </div>
          <p class="text-sm mt-2 text-center text-xs">
            <span class="uppercase font-sans">{{ option.name }}:</span>
            <span class="text-center">{{ option.selected_value }}</span>
          </p>
        </div>
      </div>
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>

    <script type="application/json" data-variants>
      {{ product.variants | json }}
    </script>
  </variant-selects>
{%- endunless -%}
