{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'page-header.css' | asset_url | stylesheet_tag }}

{% liquid
  assign catalogue_image = blank
  assign media_aspect_ratio = blank

  if section.settings.image_ratio != blank
    assign media_aspect_ratio = section.settings.image_ratio
  endif

  if section.settings.image != blank
    assign catalogue_image = section.settings.image
  endif

  assign sizes = '320x320,640x640'
  assign media_aspect_percentage = 100 | append: '%'
  if media_aspect_ratio == 'portrait'
    assign sizes = '320x400,640x800'
  elsif media_aspect_ratio == 'adapt'
    assign sizes = '320x0,640x0'
    assign media_aspect_percentage = 100 | divided_by: catalogue_image.aspect_ratio | append: '%'
  endif
%}
<div class="row myaccount-content-wrapper">
  {% if customer %}
    <div class="small-12 large-offset-1 large-5 columns myaccount-content">
      <h4>{{ customer.first_name  }} {{ customer.last_name  }}</h4>
      
      <div class="myaccount-sidebar">
        {% if section.settings.cta_text_1 %}
          <a 
            href="{{ section.settings.cta_link_1 | default: '#' }}" 
            {% if section.settings.cta_link_3_newtab %}
              target="_blank"
            {% endif %}
          >
            {% render 'svg-icons' with 'myaccount-circle' %}
            {{ section.settings.cta_text_1 }}
          </a>
        {% endif %}
        {% if section.settings.cta_text_2 %}
          <a 
            href="{{ section.settings.cta_link_2 | default: '#' }}"
            {% if section.settings.cta_link_2_newtab %}
              target="_blank"
            {% endif %}
          >
            {% render 'svg-icons' with 'past-orders' %}
            {{ section.settings.cta_text_2 }}
          </a>
        {% endif %}
        {% if section.settings.cta_text_3 %}
          <a 
            href="{{ section.settings.cta_link_3 | default: '#' }}"
            {% if section.settings.cta_link_3_newtab %}
              target="_blank"
            {% endif %}
          >
            {% render 'svg-icons' with 'catalogue' %}
            {{ section.settings.cta_text_3 }}
          </a>
        {% endif %}
      </div>

      <a href="{{ routes.account_logout_url }}" title="{{ 'customer.account.log_out' | t | escape }}" class="myaccount-link">
        {{ 'customer.account.log_out' | t }}
      </a>
    </div>
    <div class="small-12 large-5 columns myaccount-image">
      {% if catalogue_image != blank %}
        <div class="myaccount-image--inner">
          <div class="myaccount-image__wrapper media-aspect-{{ media_aspect_ratio }}" style="--var-media-aspect-ratio: {{ media_aspect_percentage }}">
            {% if catalogue_image != blank %}
              {%- render 'responsive-image', image: catalogue_image | image_url, sizes: sizes -%}
            {% endif %}
          </div>
          <div class="myaccount-image__content">
            <div>
              <h4>{{ section.settings.title }}</h4>
              <p>{{ section.settings.text }}</p>
              {% if section.settings.button_text != blank and section.settings.button_url != blank %}
                <a href="{{ section.settings.button_url }}" target="_blank" class="button">{{ 'customer.account.download_now' | t }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="small-12 columns rte dealer-account">
      <h4 class="text-center">Please <a href="/pages/ws-account-login">login</a> to view your dealer account</h4>
    </div>
  {% endif %}
</div>


{% schema %}
{
  "name": "Dealer Account",
  "settings": [
    {
      "type": "header",
      "content": "Links"
    },
    {
      "type": "text",
      "id": "cta_text_1",
      "default": "Account Info",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "cta_link_1",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "cta_link_1_newtab",
      "label": "Open in new tab",
      "default": false
    },
    {
      "type": "text",
      "id": "cta_text_2",
      "default": "Past Orders",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "cta_link_2",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "cta_link_2_newtab",
      "label": "Open in new tab",
      "default": false
    },
    {
      "type": "text",
      "id": "cta_text_3",
      "default": "Catalogues",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "cta_link_3",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "cta_link_3_newtab",
      "label": "Open in new tab",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Catalogue image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "portrait",
      "label": "Image ratio",
      "info": "Add images by editing your collections. [Learn more](https://help.shopify.com/en/manual/products/collections)"
    },
    {
      "type": "header",
      "content": "Catalogue"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Our Style Catalogue",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Please your info here"
    },
    {
      "type": "text",
      "id": "button_text",
      "default": "Download now",
      "label": "Heading"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    }
  ]
}
{% endschema %}