<header class="fixed bg-light w-screen z-50 h-16">
  <div class="wrapper h-full grid lg:grid-cols-3 gap-4">
    <nav class=" h-full">
      <ul class="flex gap-4 h-full items-center">
        {%- for link in linklists.main-menu.links -%}
          <li class="">
            <a href="{{ link.url }}" class="header__nav-link">
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
    <div class=" flex justify-center items-center">
      <a href="{{ routes.root_url }}" class="">
        <svg width="240" height="16" viewBox="0 0 240 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M230.953 12.7704L232.981 12.5755V1.26761H230.251L228.302 4.4845H227.717L228.497 0.195312H239.22L239.999 4.4845H239.414L237.465 1.26761H234.735V12.5755L236.763 12.7704V13.4528H230.953V12.7704Z" fill="#241917"/>
        <path d="M208.703 12.7704L210.263 12.5755V1.07265L208.703 0.877683V0.195312H214.786C216.164 0.195312 217.236 0.520251 218.003 1.17013C218.77 1.82 219.153 2.72983 219.153 3.89961C219.153 4.87442 218.867 5.68027 218.295 6.31715C217.736 6.94103 216.937 7.33746 215.897 7.50642L219.777 12.5755L221.337 12.7704V13.4528H218.217L213.967 7.6234H212.017V12.5755L213.889 12.7704V13.4528H208.703V12.7704ZM214.396 6.55111C215.306 6.55111 216.008 6.32365 216.502 5.86873C217.008 5.40082 217.262 4.74445 217.262 3.89961C217.262 3.06777 217.008 2.42439 216.502 1.96948C216.008 1.50156 215.306 1.26761 214.396 1.26761H212.017V6.55111H214.396Z" fill="#241917"/>
        <path d="M187.537 12.7704L189.097 12.5755L194.029 0.195312H195.336L200.112 12.5755L201.672 12.7704V13.4528H196.681V12.7704L198.241 12.5755L197.012 9.37807H191.514L190.247 12.5755L191.807 12.7704V13.4528H187.537V12.7704ZM196.661 8.50074L194.302 2.3789L191.865 8.50074H196.661Z" fill="#241917"/>
        <path d="M165.382 1.07265L163.822 0.877683V0.195312H168.794V0.877683L167.234 1.07265L170.237 10.0604L173.356 0.195312H174.097L177.489 10.1579L180.491 1.07265L178.932 0.877683V0.195312H183.182V0.877683L181.622 1.07265L177.528 13.4528H176.748L173.395 3.60716L170.314 13.4528H169.535L165.382 1.07265Z" fill="#241917"/>
        <path d="M145.217 12.7704L146.776 12.5755V1.07265L145.217 0.877683V0.195312H155.394L156.174 3.89961H155.589L153.639 1.26761H148.531V6.14168H151.845L152.723 4.38702H153.113V8.94915H152.723L151.845 7.21398H148.531V12.3805H153.99L155.94 9.7485H156.525L155.745 13.4528H145.217V12.7704Z" fill="#241917"/>
        <path d="M128.455 12.7704L130.483 12.5755V1.26761H127.753L125.804 4.4845H125.219L125.999 0.195312H136.721L137.501 4.4845H136.916L134.967 1.26761H132.237V12.5755L134.265 12.7704V13.4528H128.455V12.7704Z" fill="#241917"/>
        <path d="M113.04 13.6474C112.182 13.6474 111.311 13.5109 110.427 13.238C109.556 12.952 108.861 12.5946 108.341 12.1657L107.951 8.85132H108.536L109.901 11.2884C110.369 11.7693 110.863 12.1397 111.382 12.3996C111.915 12.6466 112.5 12.7701 113.137 12.7701C113.956 12.7701 114.593 12.5751 115.048 12.1852C115.516 11.7953 115.75 11.2689 115.75 10.606C115.75 10.0601 115.587 9.59867 115.262 9.22175C114.95 8.83182 114.567 8.51338 114.112 8.26643C113.657 8.00648 113.033 7.71403 112.24 7.3891C111.408 7.05116 110.739 6.74572 110.232 6.47277C109.738 6.19982 109.316 5.84239 108.965 5.40047C108.614 4.94556 108.439 4.39317 108.439 3.74329C108.439 3.01543 108.634 2.36555 109.023 1.79366C109.413 1.22177 109.933 0.779852 110.583 0.467911C111.246 0.15597 111.948 0 112.689 0C113.352 0 114.079 0.123476 114.872 0.370429C115.678 0.604385 116.335 0.909827 116.841 1.28676L117.231 4.60113H116.646L115.282 2.16409C114.463 1.30625 113.534 0.877333 112.494 0.877333C111.818 0.877333 111.266 1.0463 110.837 1.38424C110.408 1.72217 110.193 2.23557 110.193 2.92444C110.193 3.41835 110.336 3.84077 110.622 4.1917C110.908 4.54264 111.266 4.83508 111.694 5.06904C112.123 5.28999 112.708 5.55644 113.449 5.86838C114.32 6.23232 115.022 6.57025 115.555 6.88219C116.101 7.19413 116.562 7.61005 116.939 8.12995C117.316 8.63686 117.504 9.26724 117.504 10.0211C117.504 10.736 117.316 11.3728 116.939 11.9317C116.562 12.4776 116.036 12.9 115.36 13.199C114.684 13.4979 113.91 13.6474 113.04 13.6474Z" fill="#241917"/>
        <path d="M84.0826 13.6474C83.2248 13.6474 82.354 13.5109 81.4702 13.238C80.5993 12.952 79.904 12.5946 79.3841 12.1657L78.9941 8.85132H79.579L80.9438 11.2884C81.4117 11.7693 81.9056 12.1397 82.4255 12.3996C82.9584 12.6466 83.5432 12.7701 84.1801 12.7701C84.999 12.7701 85.6358 12.5751 86.0907 12.1852C86.5586 11.7953 86.7926 11.2689 86.7926 10.606C86.7926 10.0601 86.6301 9.59867 86.3052 9.22175C85.9933 8.83182 85.6098 8.51338 85.1549 8.26643C84.7 8.00648 84.0761 7.71403 83.2833 7.3891C82.4515 7.05116 81.7821 6.74572 81.2752 6.47277C80.7813 6.19982 80.3589 5.84239 80.0079 5.40047C79.657 4.94556 79.4815 4.39317 79.4815 3.74329C79.4815 3.01543 79.6765 2.36555 80.0664 1.79366C80.4564 1.22177 80.9763 0.779852 81.6261 0.467911C82.289 0.15597 82.9909 0 83.7317 0C84.3946 0 85.1224 0.123476 85.9153 0.370429C86.7211 0.604385 87.3775 0.909827 87.8844 1.28676L88.2743 4.60113H87.6894L86.3247 2.16409C85.5059 1.30625 84.5765 0.877333 83.5367 0.877333C82.8609 0.877333 82.3085 1.0463 81.8796 1.38424C81.4507 1.72217 81.2362 2.23557 81.2362 2.92444C81.2362 3.41835 81.3792 3.84077 81.6651 4.1917C81.9511 4.54264 82.3085 4.83508 82.7374 5.06904C83.1663 5.28999 83.7512 5.55644 84.4921 5.86838C85.3629 6.23232 86.0648 6.57025 86.5976 6.88219C87.1435 7.19413 87.6049 7.61005 87.9819 8.12995C88.3588 8.63686 88.5473 9.26724 88.5473 10.0211C88.5473 10.736 88.3588 11.3728 87.9819 11.9317C87.6049 12.4776 87.0785 12.9 86.4027 13.199C85.7268 13.4979 84.9535 13.6474 84.0826 13.6474Z" fill="#241917"/>
        <path d="M58.8418 12.7704L60.4015 12.5755V1.07265L58.8418 0.877683V0.195312H69.0188L69.7986 3.89961H69.2137L67.2641 1.26761H62.1561V6.14168H65.4705L66.3478 4.38702H66.7377V8.94915H66.3478L65.4705 7.21398H62.1561V12.3805H67.6151L69.5647 9.7485H70.1496L69.3697 13.4528H58.8418V12.7704Z" fill="#241917"/>
        <path d="M36.9521 2.12545V12.5755L38.5118 12.7704V13.4528H34.2227V12.7704L35.7823 12.5755V1.07265L34.2227 0.877683V0.195312H38.0049L42.7035 10.7038L46.8367 0.195312H50.6969V0.877683L49.1372 1.07265V12.5755L50.6969 12.7704V13.4528H45.8229V12.7704L47.3826 12.5755V1.73552L42.7815 13.4528H42.0016L36.9521 2.12545Z" fill="#241917"/>
        <path d="M12.6289 12.7704L14.1886 12.5755L19.1211 0.195312H20.4274L25.2039 12.5755L26.7636 12.7704V13.4528H21.7726V12.7704L23.3323 12.5755L22.104 9.37807H16.6061L15.3389 12.5755L16.8986 12.7704V13.4528H12.6289V12.7704ZM21.7531 8.50074L19.3941 2.3789L16.9571 8.50074H21.7531Z" fill="#241917"/>
        <path d="M0 14.8175C0.623877 14.3236 1.09178 13.8752 1.40372 13.4723C1.71566 13.0694 1.93012 12.6145 2.0471 12.1075C2.17707 11.5876 2.24206 10.9053 2.24206 10.0604V1.07265L0.682365 0.877683V0.195312H5.5564V0.877683L3.99671 1.07265V10.0604C3.99671 11.1392 3.84724 12.0036 3.5483 12.6534C3.26236 13.3033 2.73596 13.8882 1.96911 14.4081L0.487404 15.4024L0 14.8175Z" fill="#241917"/>
        </svg>
      </a>
    </div>
    <div class="h-full flex items-center justify-end">
      <a href="{{ routes.cart_url }}" class="">
        <span class="h-8 w-8 block">{{'icon-cart.svg' | inline_asset_content }}</span>
      </a>
    </div>
  </div>

  {% comment %} {%- if section.settings.logo_position != 'middle-center' -%}
    <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
      {%- if settings.logo != blank -%}
        <div class="header__heading-logo-wrapper">
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
          {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
          {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
          {{ settings.logo | image_url: width: 600 | image_tag:
            class: 'header__heading-logo motion-reduce',
            widths: widths,
            height: logo_height,
            width: settings.logo_width,
            alt: logo_alt,
            sizes: sizes,
            preload: true
          }}
        </div>
    </a>
  {%- endif -%} {% endcomment %}

  {% comment %} {%- if section.settings.logo_position == 'middle-center' -%}
    {%- if request.page_type == 'index' -%}
      <h1 class="header__heading">
    {%- endif -%}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if settings.logo != blank -%}
            <div class="header__heading-logo-wrapper">
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{ settings.logo | image_url: width: 600 | image_tag:
                class: 'header__heading-logo',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
              }}
            </div>
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
    {%- if request.page_type == 'index' -%}
      </h1>
    {%- endif -%}
  {%- endif -%} {% endcomment %}

  <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
    {% comment %} <div class="desktop-localization-wrapper">
      {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
        <localization-form class="small-hide medium-hide" data-prevent-hide>
          {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
            <div>
              <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
              {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {% endif %}

      {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
        <localization-form class="small-hide medium-hide" data-prevent-hide>
          {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
            <div>
              <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
              {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {%- endif -%}
    </div>
    {% render 'header-search', input_id: 'Search-In-Modal' %} {% endcomment %}

    {% comment %} {%- if shop.customer_accounts_enabled -%}
      <a
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
        class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
        rel="nofollow"
      >
        {%- if section.settings.enable_customer_avatar -%}
          <account-icon>
            {%- if customer and customer.has_avatar? -%}
              {{ customer | avatar }}
            {%- else -%}
              <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
            {%- endif -%}
          </account-icon>
        {%- else -%}
          <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
        {%- endif -%}
        <span class="visually-hidden">
          {%- liquid
            if customer
              echo 'customer.account_fallback' | t
            else
              echo 'customer.log_in' | t
            endif
          -%}
        </span>
      </a>
    {%- endif -%} {% endcomment %}

    {% comment %} <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {% if cart == empty %}
          <span class="svg-wrapper">{{'icon-cart-empty.svg' | inline_asset_content }}</span>
        {% else %}
          <span class="svg-wrapper">{{'icon-cart.svg' | inline_asset_content }}</span>
        {% endif %}
      <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
      {%- if cart != empty -%}
        <div class="cart-count-bubble">
          {%- if cart.item_count < 100 -%}
            <span aria-hidden="true">{{ cart.item_count }}</span>
          {%- endif -%}
          <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
        </div>
      {%- endif -%}
    </a> {% endcomment %}
  </div>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
}
{% endschema %}
