<div
  class='wrapper pt-20 pb-[160px] grid lg:grid-cols-6 gap-4'
>
  <div id='ProductGallery-{{ section.id }}' class='lg:col-span-4 space-y-4'>
    {%- liquid
      assign featured_media = product.selected_or_first_available_variant.featured_media
      if featured_media == blank
        assign featured_media = product.featured_media
      endif

      assign variant_media_ids = ','
      for v in product.variants
        if v.featured_media
          assign variant_media_ids = variant_media_ids | append: v.featured_media.id | append: ','
        endif
      endfor

      if featured_media != blank
        assign ordered_media = product.media | where: 'id', featured_media.id
      else
        assign ordered_media = product.media | where: 'id', 0
      endif

      for m in product.media
        unless m.id == featured_media.id
          assign id_token = ',' | append: m.id | append: ','
          unless variant_media_ids contains id_token
            assign rest = product.media | where: 'id', m.id
            assign ordered_media = ordered_media | concat: rest
          endunless
        endunless
      endfor
    -%}
    {% for media in ordered_media %}
      {% assign modulo = forloop.index | modulo: 3 %}

      {% if modulo == 1 %}
        {% render 'responsive-image',
          image: media,
          width: 1000,
          wrapper_class: 'w-full hidden lg:block',
          image_class: 'w-full h-full object-cover'
        %}
      {% elsif modulo == 2 %}
        <div class="flex flex-col gap-4">
          {% render 'responsive-image',
            image: media,
            width: 1000,
            wrapper_class: 'w-full',
            image_class: 'w-full object-contain'
          %}
          {% if forloop.last != true %}
            {% render 'responsive-image',
              image: ordered_media[forloop.index],
              width: 1000,
              wrapper_class: 'w-full lg:col-span-2',
              image_class: 'w-full h-full object-contain'
            %}
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
<div class='lg:col-span-2 h-product_details lg:sticky top-20 flex items-center justify-center w-full order-first lg:order-last'>
  <section
    id="ProductInfo-{{ section.id }}"
    class='flex w-full lg:h-full flex-col items-center mb-4'
  >
    {% render 'responsive-image',
      image: product.featured_image,
      width: 1000,
      wrapper_class: 'lg:hidden w-full h-full relative aspect-landscape mb-4',
      image_class: 'w-full h-full object-cover absolute inset-0'
    %}
    <div class="w-full flex-1 flex flex-col items-center justify-center mb-4">
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
      <h1 class="h3 mb-8 text-center">
        {{ product.title | escape }}
      </h1>
      {% if product.metafields.custom.sofa_size != blank %}
        <p
          class="text-xs uppercase"
          {{ block.shopify_attributes }}
        >
          {{- product.metafields.custom.sofa_size -}}
        </p>
      {% endif %}
      <div id="price-{{ section.id }}" role="status">
        {%- render 'price',
          product: product,
          use_variant: true,
          show_badges: true,
          price_class: 'price--large'
        -%}
      </div>
      {% if product.has_only_default_variant == false %}
        {% render 'product-variant-picker', product: product, product_form_id: product_form_id %}
      {% endif %}
    </div>
    <div class="w-full  flex flex-col justify-end">
      <div class="flex-1  gap-4">
        
        <div class='col-span-2 space-y-2 text-[13px]'>
          {% if product.description != blank %}
            {{ product.description }}
          {% endif %}
        </div>
        <ul class='font-sans space-y-[7px] pt-4 pb-8 leading-none text-sm mt-0.5' x-data="{ activeDrawer: null }">
          <li>
            <button
              class="text-left uppercase"
              @click="$dispatch('toggle-drawer', { type: 'specifications' })"
              :aria-expanded="activeDrawer === 'specifications'"
            >
              Specifications
            </button>
          </li>
         
         
        </ul>
      </div>
      {% if customer %}
        <div>
          {% render 'jsf-stock-status', product: product %}
        </div>
        
      {% endif %}
      <div class="pb-2">
        <div class="w-full">
          
          {% if customer %}
            {%- render 'buy-buttons', product: product -%}
          {% else %}
            <a href="/pages/how-to-buy" class="btn btn--outline-primary flex justify-center w-full">ENQUIRE</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>

{% render 'product-drawers', blocks: section.blocks %}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {{ product | structured_data }}
</script>


{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product.settings.media_size.options__3.label"
        }
      ],
      "default": "large",
      "label": "t:sections.main-product.settings.media_size.label",
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    }
  ],
  "blocks": [
    {
      "type": "care-info",
      "name": "Care Info",
      "settings": [
        {
          "type": "page",
          "id": "care-info-page",
          "label": "Care Info Page"
        }
      ]
    }
  ]
}
{% endschema %}
