<div
  class='wrapper pt-20 pb-4 grid lg:grid-cols-6 gap-4'
>
  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
    <div class='lg:col-span-4 space-y-4'>
      {% for media in product.media %}
        {% assign modulo = forloop.index | modulo: 3 %}
        
        {% if modulo == 1 %}
          {% render 'responsive-image',
            image: media,
            width: 1000,
            wrapper_class: 'w-full hidden lg:block',
            image_class: 'w-full h-full object-cover'
          %}
        {% elsif modulo == 2 %}
          <div class="grid lg:grid-cols-3 gap-4">
            {% render 'responsive-image',
              image: media,
              width: 500,
              wrapper_class: 'w-full',
              image_class: 'w-full object-contain'
            %}
            {% if forloop.last != true %}
              {% render 'responsive-image',
                image: product.media[forloop.index],
                width: 500,
                wrapper_class: 'w-full lg:col-span-2',
                image_class: 'w-full h-full object-contain'
              %}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class='lg:col-span-2 h-product_details lg:sticky top-20 flex items-center justify-center w-full order-first lg:order-last'>
      <section
        id="ProductInfo-{{ section.id }}"
        class='flex w-full lg:h-full flex-col items-center py-4'
      >
        {% render 'responsive-image',
          image: product.featured_image,
          width: 1000,
          wrapper_class: 'lg:hidden w-full h-full relative aspect-landscape mb-4',
          image_class: 'w-full h-full object-cover absolute inset-0'
        %}
        <div class="w-full h-2/3 flex flex-col items-center justify-center">
          {%- assign product_form_id = 'product-form-' | append: section.id -%}
          <h1 class="h3 mb-8 text-center">
            {{ product.title | escape }}
          </h1>
          {% if product.metafields.custom.sofa_size != blank %}
            <p
              class="text-xs uppercase"
              {{ block.shopify_attributes }}
            >
              {{- product.metafields.custom.sofa_size -}}
            </p>
          {% endif %}
          <div id="price-{{ section.id }}" role="status">
            {%- render 'price',
              product: product,
              use_variant: true,
              show_badges: true,
              price_class: 'price--large'
            -%}
          </div>
        </div>
        <div class="w-full h-1/3 flex flex-col justify-end">
          <div class="flex-1 grid grid-cols-3 gap-4 p-4">
            <ul class='font-sans space-y-1 leading-none text-sm' x-data="{ activeDrawer: null }">
              <li>
                <button
                  class="text-left uppercase"
                  @click="$dispatch('toggle-drawer', { type: 'specifications' })"
                  :aria-expanded="activeDrawer === 'specifications'"
                >
                  Specifications
                </button>
              </li>
              <li>
                <button
                  class="text-left uppercase"
                  @click="$dispatch('toggle-drawer', { type: 'product-care' })"
                  :aria-expanded="activeDrawer === 'product-care'"
                >
                  Product Care
                </button>
              </li>
              <li>
                <button
                  class="text-left uppercase"
                  @click="$dispatch('toggle-drawer', { type: 'shipping' })"
                  :aria-expanded="activeDrawer === 'shipping'"
                >
                  Shipping
                </button>
              </li>
            </ul>
            <div class='col-span-2'>
              {% if product.description != blank %}
                {{ product.description }}
              {% endif %}
            </div>
          </div>
          <div>
            <div class="w-full">
              {% if product.has_only_default_variant == false %}
                {% render 'product-variant-picker', product: product, product_form_id: product_form_id %}
              {% endif %}
              {% if customer %}
                {%- render 'buy-buttons',
                  product: product,
                  product_form_id: product_form_id,
                  section_id: section.id,
                -%}
              {% else %}
                <a href="/pages/contact" class="btn btn--primary flex justify-center w-full">ENQUIRE</a>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </div>

    {%- liquid
      if product.selected_or_first_available_variant.featured_media
        assign seo_media = product.selected_or_first_available_variant.featured_media
      else
        assign seo_media = product.featured_media
      endif
    -%}

    <script type="application/ld+json">
      {{ product | structured_data }}
    </script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product.settings.media_size.options__3.label"
        }
      ],
      "default": "large",
      "label": "t:sections.main-product.settings.media_size.label",
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "checkbox",
      "id": "constrain_to_viewport",
      "default": true,
      "label": "t:sections.main-product.settings.constrain_to_viewport.label"
    },
    {
      "type": "select",
      "id": "media_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.main-product.settings.media_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.main-product.settings.media_fit.options__2.label"
        }
      ],
      "default": "contain",
      "label": "t:sections.main-product.settings.media_fit.label"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
        {
          "value": "stacked",
          "label": "t:sections.main-product.settings.gallery_layout.options__1.label"
        },
        {
          "value": "columns",
          "label": "t:sections.main-product.settings.gallery_layout.options__2.label"
        },
        {
          "value": "thumbnail",
          "label": "t:sections.main-product.settings.gallery_layout.options__3.label"
        },
        {
          "value": "thumbnail_slider",
          "label": "t:sections.main-product.settings.gallery_layout.options__4.label"
        }
      ],
      "default": "stacked",
      "label": "t:sections.main-product.settings.gallery_layout.label"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-product.settings.media_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-product.settings.media_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.main-product.settings.media_position.label",
      "info": "t:sections.main-product.settings.media_position.info"
    },
    {
      "type": "select",
      "id": "image_zoom",
      "options": [
        {
          "value": "lightbox",
          "label": "t:sections.main-product.settings.image_zoom.options__1.label"
        },
        {
          "value": "hover",
          "label": "t:sections.main-product.settings.image_zoom.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.main-product.settings.image_zoom.options__3.label"
        }
      ],
      "default": "lightbox",
      "label": "t:sections.main-product.settings.image_zoom.label",
      "info": "t:sections.main-product.settings.image_zoom.info"
    },
    {
      "type": "select",
      "id": "mobile_thumbnails",
      "options": [
        {
          "value": "columns",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__1.label"
        },
        {
          "value": "show",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__2.label"
        },
        {
          "value": "hide",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__3.label"
        }
      ],
      "default": "hide",
      "label": "t:sections.main-product.settings.mobile_thumbnails.label"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
