{% assign current_url = request.path %}


{% case current_url %}
{% when '/policies/privacy-policy' %}
  {% assign title = shop.privacy_policy.title %}
  {% assign content = shop.privacy_policy.body %}
{% when '/policies/shipping-policy' %}
  {% assign title = shop.shipping_policy.title %}
  {% assign content = shop.shipping_policy.body %}
{% when '/policies/refund-policy' %}
  {% assign title = shop.refund_policy.title %}
  {% assign content = shop.refund_policy.body %}
{% when '/policies/terms-of-service' %}
  {% assign title = shop.terms_of_service.title %}
  {% assign content = shop.terms_of_service.body %}
{% endcase %}

<div class="wrapper pt-40 pb-20">
    <h1 class="text-2xl font-bold">{{ title }}</h1>
</div>

<div class="wrapper grid grid-cols-1 md:grid-cols-4 gap-10 bg-beige pb-20">
    <div class="col-span-1 order-last md:order-first">
        <nav>
            <ul class="space-y-1 uppercase font-sans">
                {% unless current_url == '/policies/privacy-policy' %}
                    <li><a href="{{ shop.privacy_policy.url }}" class="opacity-50 hover:opacity-100 duration-500">Privacy Policy</a></li>
                {% endunless %}
                
                {% unless current_url == '/policies/shipping-policy' %}
                    <li><a href="{{ shop.shipping_policy.url }}" class="opacity-50 hover:opacity-100 duration-500">Shipping Policy</a></li>
                {% endunless %}
                
                {% comment %}
                {% unless current_url == '/policies/refund-policy' %}
                    <li><a href="{{ shop.refund_policy.url }}" class="opacity-50 hover:opacity-100 duration-500">Refund Policy</a></li>
                {% endunless %}
                {% endcomment %}
                
                {% unless current_url == '/policies/terms-of-service' %}
                    <li><a href="{{ shop.terms_of_service.url }}" class="opacity-50 hover:opacity-100 duration-500">Terms of Service</a></li>
                {% endunless %}
            </ul>
        </nav>
    </div>
    <div class="col-span-2">
        <div class="space-y-4">{{ content }}</div>
    </div>

</div>
