{% style %}
  .color-{{ section.settings.color_scheme }} {
    --color-primary: {{ section.settings.color_scheme.settings.primary }};
    --color-contrast: {{ section.settings.color_scheme.settings.contrast }};
    --color-lines: {{ section.settings.color_scheme.settings.lines }};
  }
{% endstyle %}

<div class="h-screen w-full relative flex items-end justify-center p-6 lg:p-12 home-hero">
  <div class="absolute inset-0 fade-swiper hero-swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% render 'responsive-image', image: block.settings.image, wrapper_class: "swiper-slide relative", image_class: "object-cover absolute inset-0 h-full w-full" %}
      {% endfor %}
    </div>
  </div>
  <h2 
    x-data="{ shown: false }" 
    x-intersect:enter="shown = true"
    x-intersect:leave="shown = false"
    :class="shown ? 'opacity-100' : 'opacity-0'"
    class="h1 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[2] text-white text-center text-nowrap transition-opacity duration-2500 ease-in-out"
  >
    {{ section.settings.hero_heading }}
  </h2>
  <div class="flex flex-col items-center space-y-4 text-white max-w-md relative z-[1]">
    {% if section.settings.hero_content != blank %}
      <div class="text-center">{{ section.settings.hero_content }}</div>
    {% endif %}
    {% if section.settings.hero_button_url != blank %}
      <a href="{{ section.settings.hero_button_url }}" class="btn btn--outline-contrast">{{ section.settings.hero_button_text }}</a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Home Hero",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "image_block",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "richtext",
      "id": "hero_content",
      "label": "Hero Content",
    },
    {
      "type": "url",
      "id": "hero_button_url",
      "label": "Hero Button URL"
    },
    {
      "type": "text",
      "id": "hero_button_text",
      "label": "Hero Button Text",
      "default": "Shop Now"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_logo",
      "label": "Show Logo",
      "default": true
    },
    {
      "type": "text",
      "id": "hero_heading",
      "label": "Hero Heading",
    }
  ],
  "presets": [
    {
      "name": "Home Hero",
      "settings": {
        "hero_content": "<p>Welcome to our store. Discover our unique collection of products.</p>",
        "hero_button_text": "Shop Now",
      }
    }
  ]
}
{% endschema %}
