{% style %}
  .color-{{ section.settings.color_scheme }} {
    --color-primary: {{ section.settings.color_scheme.settings.primary }};
    --color-contrast: {{ section.settings.color_scheme.settings.contrast }};
    --color-lines: {{ section.settings.color_scheme.settings.lines }};
  }
{% endstyle %}

{% liquid
  assign padding_top = section.settings.padding_top | default: 'md'
  assign padding_bottom = section.settings.padding_bottom | default: 'md'

  if padding_top == 'none'
    assign padding_top = 'pt-0'
  elsif padding_top == 'sm'
    assign padding_top = 'pt-6'
  elsif padding_top == 'md'
    assign padding_top = 'pt-6 lg:pt-12'
  elsif padding_top == 'lg'
    assign padding_top = 'pt-12 lg:pt-24'
  elsif padding_top == 'xl'
    assign padding_top = 'pt-24 lg:pt-[160px]'
  endif

  if padding_bottom == 'none'
    assign padding_bottom = 'pb-0'
  elsif padding_bottom == 'sm'
    assign padding_bottom = 'pb-6'
  elsif padding_bottom == 'md'
    assign padding_bottom = 'pb-6 lg:pb-12'
  elsif padding_bottom == 'lg'
    assign padding_bottom = 'pb-12 lg:pb-24'
  elsif padding_bottom == 'xl'
    assign padding_bottom = 'pb-24 lg:pb-[160px]'
  endif
%}

<div class='color-{{ section.settings.color_scheme }} bg-primary text-contrast {{ padding_top }} {{ padding_bottom }}'>
  <div class="wrapper">
    {% if section.settings.product != blank %}
      {% assign product = all_products[section.settings.product] %}
      <h2 class="h2 text-center mb-4 uppercase transition-opacity duration-2500 ease-in-out" x-data="{ shown: false }" x-intersect:enter="shown = true" x-intersect:leave="shown = false" :class="shown ? 'opacity-100' : 'opacity-0'">{{ product.title }}</h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        {% if product.media.size > 0 %}
          <div class="swiper featured-product-swiper aspect-portrait w-full h-full">
            <div class="swiper-wrapper">
              {% for media in product.media limit: 4 %}
                {% if forloop.index !=  1 %}
                  <div class="swiper-slide">
                    {% render 'responsive-image', image: media, width: 1000, height: 1000, image_class: 'object-cover absolute inset-0 h-full w-full', wrapper_class: 'aspect-portrait relative' %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          {% if product.media[0] %}
            <div class="relative">
              {% render 'responsive-image', image: product.media[0], width: 1000, height: 1000, image_class: 'object-cover absolute inset-0 h-full w-full', wrapper_class: 'aspect-portrait relative' %}
              <div class="hidden md:flex absolute inset-0  p-16 items-end justify-center text-center">
                <div class="max-w-md">
                  <ul class="space-y-2 mb-6">
                    {% for variant in product.variants %}
                      <li>{% if forloop.first %}<span class="italic">in </span>{% endif %}{{ variant.title }}{% unless forloop.last %},{% endunless %}</li>
                    {% endfor %}
                  </ul>
                  <a href="{{ product.url | within: collection }}" class="btn btn--outline-primary block">{{ section.settings.button_text }}</a>
                </div>
              </div>
            </div>
          {% endif %}
          <div class="block md:hidden p-8 items-end justify-center text-center">
            <div class="max-w-md">
              <ul class="space-y-2 mb-6">
                {% for variant in product.variants %}
                  <li>{% if forloop.first %}<span class="italic">in </span>{% endif %}{{ variant.title }}{% unless forloop.last %},{% endunless %}</li>
                {% endfor %}
              </ul>
              <a href="{{ product.url | within: collection }}" class="btn btn--outline-primary">{{ section.settings.button_text }}</a>
            </div>
          </div>
        {% endif %}
      </div>
    {% else %}
      <div class="text-center">
        <p>{{ 'sections.featured_product.select_product' }}</p>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Featured Product",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "View Product"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding Top",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "sm", "label": "Small" },
        { "value": "md", "label": "Medium" },
        { "value": "lg", "label": "Large" },
        { "value": "xl", "label": "XLarge" }
      ]
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "sm", "label": "Small" },
        { "value": "md", "label": "Medium" },
        { "value": "lg", "label": "Large" },
        { "value": "xl", "label": "XLarge" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Product",
      "settings": {
        "padding_top": "md",
        "padding_bottom": "md"
      },
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}