{% style %}
  .color-{{ section.settings.color_scheme }} {
    --color-primary: {{ section.settings.color_scheme.settings.primary }};
    --color-contrast: {{ section.settings.color_scheme.settings.contrast }};
    --color-accent: {{ section.settings.color_scheme.settings.accent }};
  }
{% endstyle %}

<div class="wrapper grid lg:grid-cols-2 gap-8 py-6 lg:py-12 color-{{ section.settings.color_scheme }} bg-primary text-contrast">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'image_block' %}
        {% if block.settings.image %}
          <div class="relative overflow-hidden bg-white {% if block.settings.aspect_ratio == 'portrait' %}aspect-portrait{% elsif block.settings.aspect_ratio == 'landscape' %}aspect-landscape{% else %}aspect-square{% endif %}">
            {% render 'responsive-image' with
            image: block.settings.image,
            wrapper_class: "",
            image_class: "absolute inset-0 object-cover w-full h-full",
            size: '1000x1000',
            width: 1000,
            height: 1000, %}
          </div>
        {% endif %}
      {% when 'text_block' %}
        {% if block.settings.text %}
          <div class="{% if block.settings.text_alignment == 'center' %}text-center{% elsif block.settings.text_alignment == 'right' %}text-right{% else %}text-left{% endif %}">{{ block.settings.text }}</div>
        {% endif %}
      {% when 'sticky_image_with_text' %}
        <div class="flex items-start max-w-lg">
          <div class="sticky top-12 space-y-4 flex flex-col items-end w-full">
            {% if block.settings.image %}
              <div class="aspect-landscape w-full relative overflow-hidden">
                {% render 'responsive-image' with
                image: block.settings.image,
                wrapper_class: "",
                image_class: "absolute inset-0 object-cover w-full h-full",
                size: '1000x1000',
                width: 1000,
                height: 1000, %}
              </div>
            {% endif %}
            {% if block.settings.text %}
              <div class="{% if block.settings.text_alignment == 'center' %}text-center{% elsif block.settings.text_alignment == 'right' %}text-right{% else %}text-left{% endif %} max-w-sm space-y-4">
                {{ block.settings.text }}
                <div class="flex gap-4">
                  {% if block.settings.button_1_url %}
                    <a href="{{ block.settings.button_1_url }}" class="btn btn--outline-primary">{{ block.settings.button_1_text }}</a>
                  {% endif %}
                  {% if block.settings.button_2_url %}
                    <a href="{{ block.settings.button_2_url }}" class="btn btn--outline-primary">{{ block.settings.button_2_text }}</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Two Column Content",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Two Column Content",
      "category": "Custom"
    }
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "Aspect Ratio",
          "options": [
            { "value": "portrait", "label": "Portrait" },
            { "value": "landscape", "label": "Landscape" },
            { "value": "square", "label": "Square" }
          ]
        }
      ]
    },
    {
      "type": "text_block",
      "name": "Rich Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ]
        }
      ]
    },
    {
      "type": "sticky_image_with_text",
      "name": "Sticky Image with Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "button_1_url",
          "label": "Button 1 URL"
        },
        {
          "type": "text",
          "id": "button_1_text",
          "label": "Button 1 Text"
        },
        {
          "type": "url",
          "id": "button_2_url",
          "label": "Button 2 URL"
        },
        {
          "type": "text",
          "id": "button_2_text",
          "label": "Button 2 Text"
        }
      ]
    }
  ],
  "max_blocks": 2
}
{% endschema %}
