<div class="wrapper py-6 lg:py-12">
  {% if section.settings.product != blank %}
    {% assign product = all_products[section.settings.product] %}


    <h2 class="text-center mb-4 uppercase">{{ product.title }}</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      {% if product.media.size > 0 %}
        {% for media in product.media limit: 2 %}
          {% if forloop.index == 1 %}
            {% render 'responsive-image', image: media, width: 1000, height: 1000, image_class: 'object-cover absolute inset-0 h-full w-full', wrapper_class: 'aspect-portrait relative' %}
          {% else %}
            <div class="relative">
              {% render 'responsive-image', image: media, width: 1000, height: 1000, image_class: 'object-cover absolute inset-0 h-full w-full', wrapper_class: 'aspect-portrait relative' %}
              <div class="absolute inset-0 flex p-16 items-end justify-center text-center">
                <div class="max-w-md">
                  <p class="text-white">{{ product.description | truncate: 100 }}</p>
                  <a href="{{ product.url }}" class="btn btn--outline-primary block">{{ section.settings.button_text }}</a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  {% else %}
    <div class="text-center">
      <p>{{ 'sections.featured_product.select_product' | t }}</p>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Featured Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "View Product"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Featured Product"
    }
  ]
}
{% endschema %}