{% style %}
  .color-{{ section.settings.color_scheme }} {
    --color-primary: {{ section.settings.color_scheme.settings.primary }};
    --color-contrast: {{ section.settings.color_scheme.settings.contrast }};
    --color-lines: {{ section.settings.color_scheme.settings.lines }};
  }
{% endstyle %}

<div class='color-{{ section.settings.color_scheme }} bg-primary text-contrast'>
  <div class="wrapper py-6 lg:py-12">
    <div class="flex gap-4 flex-col md:flex-row justify-between items-center py-4 border-t border-lines">
      <a href="{{ routes.collections_url }}" class="text-contrast font-sans uppercase text-sm">{{ section.settings.all_collections_link_text }}</a>
      {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_link }}" class="btn btn--outline-primary">{{ section.settings.button_text }}</a>
      {% endif %}
    </div>

    <div class="grid gap-4 lg:grid-cols-3">
      {% for block in section.blocks %}
        {% assign collection = collections[block.settings.collection] %}
        {% assign hover_image = block.settings.hover_image %}
        {% if collection != blank %}
          {% render 'collection-tile', collection: collection, hover_image: hover_image %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collections Grid",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "all_collections_link_text",
      "label": "All Collections Link Text",
      "default": "View All"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "View All"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "collection_block",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Hover Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections Grid",
      "settings": {
        "title": "Featured Collections",
        "button_text": "View All"
      },
      "blocks": [
        {
          "type": "collection_block"
        },
        {
          "type": "collection_block"
        },
        {
          "type": "collection_block"
        }
      ]
    }
  ]
}
{% endschema %}
