{% style %}
  .color-{{ section.settings.color_scheme }} {
    --color-primary: {{ section.settings.color_scheme.settings.primary }};
    --color-contrast: {{ section.settings.color_scheme.settings.contrast }};
    --color-accent: {{ section.settings.color_scheme.settings.accent }};
  }
{% endstyle %}

<div class="wrapper py-6 lg:py-12">
  <div class="flex justify-between items-center py-4 border-t border-lines">
    {% if section.settings.title != blank %}
      <h2 class="h3">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.button_text != blank %}
      <a href="{{ routes.collections_url }}" class="btn btn--outline-primary">{{ section.settings.button_text }}</a>
    {% endif %}
  </div>

  <div class="grid gap-4 lg:grid-cols-3">
    {% for block in section.blocks %}
      {% assign collection = collections[block.settings.collection] %}
      {% if collection != blank %}
        {% render 'collection-tile', collection: collection %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collections Grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Collections"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "collection_block",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections Grid",
      "blocks": [
        {
          "type": "collection_block"
        },
        {
          "type": "collection_block"
        },
        {
          "type": "collection_block"
        }
      ]
    }
  ]
}
{% endschema %}
