{% style %}
  .color-{{ section.settings.color_scheme }} {
    --color-primary: {{ section.settings.color_scheme.settings.primary }};
    --color-contrast: {{ section.settings.color_scheme.settings.contrast }};
    --color-lines: {{ section.settings.color_scheme.settings.lines }};
  }
{% endstyle %}

<div class="color-{{ section.settings.color_scheme }} lg:py-24 py-12 wrapper grid lg:grid-cols-8 gap-4">
  {% if section.settings.text != blank %}
    <div class="max-w-p-xl lg:col-start-2 lg:col-span-6 lead">
      {{ section.settings.text }}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Paragraph",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text content",
      "default": "<p>Share information about your brand with your customers.</p>"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Paragraph",
      "category": "Text"
    }
  ]
}
{% endschema %}