{% style %}
  .color-{{ section.settings.color_scheme }} {
    --color-primary: {{ section.settings.color_scheme.settings.primary }};
    --color-contrast: {{ section.settings.color_scheme.settings.contrast }};
    --color-accent: {{ section.settings.color_scheme.settings.accent }};
  }
{% endstyle %}

<div class="py-12 wrapper--small wrapper">
  {% if section.settings.text != blank %}
    <div class="max-w-lg lead">
      {{ section.settings.text }}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Paragraph",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text content",
      "default": "<p>Share information about your brand with your customers.</p>"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Paragraph",
      "category": "Text"
    }
  ]
}
{% endschema %}