<div class="wrapper py-6 lg:py-12">
  <div
    {% if section.settings.full_width %}
    {% endif %}
  >
    {%- unless section.settings.heading == blank -%}
      <div>
        <h2>{{ section.settings.heading }}</h2>
      </div>
    {%- endunless -%}
  </div>
  <deferred-media
    data-media-id="{{ video_id }}"
    {% if poster != null %}
      style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
    {% endif %}
  >
    <button
      id="Deferred-Poster-Modal-{{ video_id }}"
      type="button"
      aria-label="{{ alt }}"
    >
      {%- if poster != null -%}
        {{
          poster
          | image_url: width: 3840
          | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
        }}
      {%- else -%}
        {{ 'hero-apparel-3' | placeholder_svg_tag: '' }}
      {%- endif -%}
      <span>
        <span>
          {{- 'icon-play.svg' | inline_asset_content -}}
        </span>
      </span>
    </button>
    <template>
      {%- if section.settings.video == null and section.settings.video_url != null -%}
        {%- if section.settings.video_url.type == 'youtube' -%}
          <iframe
            src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ section.settings.description | escape }}"
          ></iframe>
        {%- else -%}
          <iframe
            src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ section.settings.description | escape }}"
          ></iframe>
        {%- endif -%}
      {%- else -%}
        {{
          section.settings.video
          | video_tag:
            image_size: '1100x',
            autoplay: true,
            loop: section.settings.enable_video_looping,
            controls: true,
            muted: false
        }}
      {%- endif -%}
    </template>
  </deferred-media>
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "t:sections.video.settings.heading.default",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Share information about your brand with your customers.</p>"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
