<div class="wrapper py-6 lg:py-12">
  <div
    {% if section.settings.full_width %}
    {% endif %}
  >
    {%- unless section.settings.heading == blank -%}
      <div>
        <h2>{{ section.settings.heading }}</h2>
      </div>
    {%- endunless -%}
    {% if section.settings.text != blank %}
      <div>{{ section.settings.text }}</div>
    {% endif %}
  </div>
  {% comment %} <div class="w-full relative mx-24">
    <button
      id="video-play-button"
      aria-label="{{ alt }}"
      class="w-full aspect-video absolute inset-0 flex items-center justify-center"
    >
      {%- if section.settings.cover_image != blank -%}
        {% render 'responsive-image', image: section.settings.cover_image, width: 1100, height: 600, wrapper_class: 'w-full aspect-video relative', image_class: 'object-cover absolute inset-0 w-full h-full' %}
      {%- else -%}
        {{ 'hero-apparel-3' | placeholder_svg_tag: '' }}
      {%- endif -%}
    </button>
    {%- if section.settings.video == null and section.settings.video_url != null -%}
      {%- if section.settings.video_url.type == 'youtube' -%}
        <iframe
          src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1"
          allow="autoplay; encrypted-media"
          allowfullscreen
          title="{{ section.settings.description | escape }}"
          class="w-full aspect-video"
        ></iframe>
      {%- else -%}
        <iframe
          src="https://player.vimeo.com/video/{{ video_id }}"
          allow="autoplay; encrypted-media"
          allowfullscreen
          title="{{ section.settings.description | escape }}"
          class="w-full aspect-video"
        ></iframe>
      {%- endif -%}
    {%- else -%}
      {{
        section.settings.video
        | video_tag:
          image_size: '1100x',
          autoplay: true,
          loop: section.settings.enable_video_looping,
          controls: true,
          muted: false
      }}
    {%- endif -%}
  </div> {% endcomment %}
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "t:sections.video.settings.heading.default",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Share information about your brand with your customers.</p>"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
